<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a39fdb6-dd79-4313-be91-49cd4974ab0d" Alias="404 Not found" Level="3">
  <Info>
    <Parent Key="d2c817b8-7888-4d4f-8730-e431b0a163fc">System pages</Parent>
    <Path>/CorporateWebsite/SystemPages/NotFound</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-10-19T15:15:10</CreateDate>
    <NodeName Default="404 Not found" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d321df9a-c32e-48ce-8e06-94da60e7d7d1">ContentPage</Template>
  </Info>
  <Properties>
    <intro>
      <Value><![CDATA[]]></Value>
    </intro>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
  </Properties>
</Content>