<?xml version="1.0" encoding="utf-8"?>
<Content Key="536b2778-febf-4abf-913b-3192ef1a654a" Alias="In dui magna posuere eget" Level="2">
  <Info>
    <Parent Key="e30b586e-425d-4d2d-919d-aed36e4cefa3">Website</Parent>
    <Path>/Website/InDuiMagnaPosuereEget</Path>
    <Trashed>false</Trashed>
    <ContentType>exampleSubpage</ContentType>
    <CreateDate>2025-07-30T19:06:06</CreateDate>
    <NodeName Default="In dui magna posuere eget" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c7e53216-21f2-4582-97d7-48719086d64c">ExampleSubpage</Template>
  </Info>
  <Properties>
    <introduction>
      <Value><![CDATA[Aenean viverra rhoncus pede. Vestibulum ullamcorper mauris at ligula.]]></Value>
    </introduction>
  </Properties>
</Content>