<?xml version="1.0" encoding="utf-8"?>
<Content Key="93835277-2248-4c3f-8f9d-118eb5f022b5" Alias="Privacy policy" Level="3">
  <Info>
    <Parent Key="57b310c3-06fe-4a2a-8b8a-081c17152459">Website</Parent>
    <Path>/CorporateWebsite/Website/PrivacyPolicy</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-10-23T18:39:08</CreateDate>
    <NodeName Default="Privacy policy" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d321df9a-c32e-48ce-8e06-94da60e7d7d1">ContentPage</Template>
  </Info>
  <Properties>
    <intro>
      <Value><![CDATA[]]></Value>
    </intro>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
  </Properties>
</Content>