<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2c817b8-7888-4d4f-8730-e431b0a163fc" Alias="System pages" Level="2">
  <Info>
    <Parent Key="32deaa79-1f58-4799-8d42-3a6c5cb6b87e">Corporate website</Parent>
    <Path>/CorporateWebsite/SystemPages</Path>
    <Trashed>false</Trashed>
    <ContentType>systemPagesFolder</ContentType>
    <CreateDate>2025-10-19T15:14:52</CreateDate>
    <NodeName Default="System pages" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>