<?xml version="1.0" encoding="utf-8"?>
<Content Key="e30b586e-425d-4d2d-919d-aed36e4cefa3" Alias="Website" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Website</Path>
    <Trashed>false</Trashed>
    <ContentType>exampleWebsite</ContentType>
    <CreateDate>2025-07-30T19:05:25</CreateDate>
    <NodeName Default="Website" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2fde919b-1736-41f8-a177-248850c7b5aa">ExampleWebsite</Template>
  </Info>
  <Properties />
</Content>