<?xml version="1.0" encoding="utf-8"?>
<Content Key="57b310c3-06fe-4a2a-8b8a-081c17152459" Alias="Website" Level="2">
  <Info>
    <Parent Key="32deaa79-1f58-4799-8d42-3a6c5cb6b87e">Corporate website</Parent>
    <Path>/CorporateWebsite/Website</Path>
    <Trashed>false</Trashed>
    <ContentType>website</ContentType>
    <CreateDate>2025-10-19T15:05:49</CreateDate>
    <NodeName Default="Website" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/8e90147ad95f48b3803ca881baa74907]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>