<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="145c09a3-d888-4784-a80d-2cd9d9fa1a99" Alias="exampleWebsite" Level="1">
  <Info>
    <Name>Example website</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ExampleWebsite</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2fde919b-1736-41f8-a177-248850c7b5aa">ExampleWebsite</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="606a6836-7bff-4605-beaa-ec89128d0911" SortOrder="0">exampleSubpage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>