<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f0cf962b-6398-477c-aa04-e4fbb4d69162" Alias="homepage" Level="1">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b1ac1c58-672a-4645-afe8-b629e7e204b5">Homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>96f94278-67b5-448a-8439-92a42e5ef488</Key>
      <Name>Content items</Name>
      <Alias>featuredContent</Alias>
      <Definition>b9b3fd0a-dcfe-4769-81a6-27c717bc7c57</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select up to 3 content items to display prominently on the homepage, right below the header]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/featuredContent">Featured content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>90837b60-f81e-45ec-8b42-dd6211977f0b</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter a title here to show at the top of the page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1d0bf8ec-5412-4182-a281-d2006e6dca91</Key>
      <Caption>Header</Caption>
      <Alias>content/header</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>6d9c4897-0bab-4ba0-bc03-b0ad2fe10e12</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>9f6df89e-3134-4caa-9ee8-bfa33a93480c</Key>
      <Caption>Featured content</Caption>
      <Alias>content/featuredContent</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>