<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="97001531-6692-4e9c-a64a-3295c86b981d" Alias="website" Level="1">
  <Info>
    <Name>Website</Name>
    <Icon>icon-globe</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f0cf962b-6398-477c-aa04-e4fbb4d69162" SortOrder="0">homepage</ContentType>
    <ContentType Key="cd9e9f2c-64f3-4723-9bd8-d5d362544dd5" SortOrder="1">contentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3f612108-abe2-4877-8678-3293ba45ee79</Key>
      <Name>Homepage</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the homepage.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="systemPages">System pages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4e877104-a689-4651-ad25-5f9124b6c506</Key>
      <Caption>System pages</Caption>
      <Alias>systemPages</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>